<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/service.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <form action="/services/adm/create" method="POST" style="max-width: 50%; margin: 50px auto">

            <div class="input-group mb-3">
               <label for=""> Nome:
                <input type="text" name="name" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
               </label>
            </div>

            <div class="input-group mb-3">
                <label for=""> Valor:
                    <input type="number" name="valor" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                </label>
            </div>

            <div class="input-group mb-3">
                <label for=""> Imagem:
                    <input type="text" name="img" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </label>
            </div>

            <div class="input-group mb-3">
                <label for=""> Habilitado
                    <input type="radio" name="ativo" value= <%=true%> class="form-control" aria-label="Amount (to the nearest dollar)">
                </label>
                <label for=""> Desabilitado
                    <input type="radio" name="ativo" value= <%=false%> class="form-control" aria-label="Amount (to the nearest dollar)">
                </label>
            </div>

            <div class="input-group">
                <label for="">  Descrição:
                    <textarea name="describ" class="form-control" aria-label="With textarea"></textarea>
                </label>
            </div>
            <button type="submit" class="btn b"> Enviar </button>
        </form>
    </main>
    <%- include('../partials/footer')  %>
</body>

</html>