<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/service.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <table class="table border-danger">
          
            <thead>
              <tr>
                <th scope="col">Id:</th>
                <th scope="col">Nome:</th>
                <th scope="col">Valor:</th>
                <th scope="col">Ativo:</th>
                <th scope="col">Imagem:</th>
                <th scope="col">Descrição:</th>
                <th scope="col">Ação:</th>
              </tr>
            </thead>
            <tbody>
              <% services.forEach(element => { %> 
              <tr>
                <th scope="row"> <%= element.id %></th>
                <td> <%= element.name %> </td>
                <td> <%= element.valor %> </td>
                <td> <%= element.ativo %> </td>
                <td> <img src=" <%= element.img %>" alt="" style=" width: 50px; height: 50px "> </td>
                <td> <%= element.describ %> </td>
                <td>
                  <a href="/services/adm/update/<%= element.id %>" class="btn btn-primary"> Editar </a> 
                  <a href="/services/adm/delete/<%= element.id %>" class="btn btn-danger"> deletar </a> 
                </td>
              </tr>
              <% }) %> 
            </tbody>
          </table>
    </main>
    <%- include('../partials/footer')  %>
</body>

</html>