<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/service.css">
<%- include('../../partials/head') %>

<body>

    <%- include('../../partials/adm/header') %>

    <main>
        <h1 id="service-title"> SERVIÇOS </h1>
        <section class="section section-1">
            <% if(index.img.substr(0, 5)== 'https') { %> 
                <img src="<%= index.img %>" alt=""class="section-img"> 
            <% } else { %>
                <img src='/images/imgService/<%= index.img %>' alt=""class="section-img"> 
           <% } %>

            <div class="section-describ">
                <p class="describ-title"> <%= index.name %> </p>

                <p class="describ-valor"> R$ <%= index.value %> </p>

                <p> <%= index.describ %> </p>
            </div>
        </section>
    </main>
    <%- include('../../partials/footer')  %>
</body>

</html>