<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/user.css">
<%- include('../../partials/head') %>

<body>

    <%- include('../../partials/adm/header') %>

    <main class="main-user">
        <% users.forEach( user => { %>
        <section class="card-profile">
            <% if(user.img.substr(0, 5)== 'https') { %>
            <img src="<%= user.img %>" alt="" class="section-img" style="width:100px; height:100px">
            <% } else { %>
            <img src='/images/imgUser/<%= user.img %>' alt="" class="section-img" style="width:100px; height:100px">
            <% } %>

            <div class="text-profile">
                <p class="data-profile"> <%= user.name + ' ' + user.lastName %> </p>

                <p class="data-profile"> <%= user.email %> </p>
            </div>
        </section>
        <% }) %>
    </main>
    <%- include('../../partials/footer')  %>
</body>

</html>