<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main class="main-user">
        <section class="section-create">
            <h1> Editar Perfil </h1>
            <h1> <%= user.name%> </h1>
            <% if(user.img.substr(0, 5)== 'https') { %>
            <img src="<%= user.img %>" alt="" >
            <% } else { %>
            <img src='/images/imgUser/<%= user.img %>' alt="">
            <% } %>
            <form action="/login/update/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >

                <input type="file" name="img" value="<%=user.img %>"> <br>
                <input type="text" name="img" placeholder="Imagem" value="<%= user.img %>"> 

                <label for=""> Nome: <br>
                    <input class="form-control" type="text" name="name" placeholder="Nome" value="<%=user.name %>">
                </label>

                <label for=""> Sobrenome: <br>
                    <input class="form-control" type="text" name="lastName" placeholder="Sobrenome"
                        value="<%=user.lastName %>">
                </label>

                <label for=""> Email: <br>
                    <input class="form-control" type="email" name="email" placeholder="Email" value="<%=user.email %>">
                </label>

                <label for=""> Telefone: <%= user.tel %> <br>
                    <input class="form-control" type="tel" name="tel" placeholder="(XX)9XXXX-XXXX" value="<%=user.tel %>">
                </label>

                <label for=""> Data de nascimento: <br>
                    <input class="form-control" type="date" name="date" value="<%=user.date %>">
                </label>

                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
            <a href="/users/show/" class="btn btn-primary mt-1"> voltar </a>
        </section>
    </main>
    <%- include('../partials/footer')  %>
</body>

</html>