<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/index.css">
<%- include('../partials/head') %>

<body>

    <%- include('../partials/adm/header') %>

    <main>

        <section class="section-1">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <img src="/images/imgHome/manAndDog.png" alt="">
        </section>

        <section class="section-2">
            <h1>SERVIÇOS</h1>

            <div class="sub-section">
                <% services.forEach(service => { %> 
                <div class="card-service">
                    <% if(service.img.substr(0, 5)== 'https') { %> 
                        <img src="<%= service.img %>" alt="" class="sub-section-img"> 
                    <% } else { %>
                        <img src='/images/imgService/<%= service.img %>' alt="" class="sub-section-img"> 
                   <% } %>
                    <p class="service"> <%= service.name %> </p>
                    <p class="valor"> R$ <%= service.value %> </p>
                </div>
            <% }) %>
            </div>
        </section>

        <section class="section-3">
            <div class="section-3-img">
                <img src="/images/imgHome/womanAndDog.png" alt="">
            </div>

            <div class="section-3-text">
                <p id="text-1">Sed ut perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium, </p>
                <br>
                <p id="text-2">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
            </div>
        </section>

    </main>
    <%- include('../partials/footer')  %>
</body>

</html>