<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/service.css">
<%- include('../partials/head')  %>

<body>

    <%- include('../partials/header')  %>

    <main>
        <h1 id="service-title"> SERVIÇOS </h1>
        <% servicos.forEach(servico => { %>
        <section class="section section-1">
            <img class="section-img" src="<%= servico.img %>" alt="">

            <div class="section-describ">
                <p class="describ-title"> <%= servico.name %> </p>

                <p class="describ-valor"> <%= servico.valor %> </p>
                <p> <%= servico.describ %> </p>

                <a href="/services/<%= servico.id %>"> agendar </a>
            </div>
        </section>
        <% }) %>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>