<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/service.css">
<%- include('../partials/head')  %>

<body>

    <%- include('../partials/adm/header')  %>

    <main>
        <h1 id="service-title"> SERVIÇOS </h1>
        <% servicos.forEach(service => { %>
        <section class="section section-1">
            <% if(service.img.substr(0, 5)== 'https') { %> 
                <img src="<%= service.img %>" alt="" class="section-img"> 
            <% } else { %>
                <img src='/images/imgService/<%= service.img %>' alt="" class="section-img"> 
           <% } %>

            <div class="section-describ">
                <p class="describ-title"> <%= service.name %> </p>

                <p class="describ-valor"> R$ <%= service.value %> </p>
                <p> <%= service.describ %> </p>

                <a href="/services/<%= service.id %>"> agendar </a>
            </div>
        </section>
        <% }) %>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>